include README_PYTHON.md
include readme.md
include pyproject.toml
include CMakeLists.txt
recursive-include include *.hpp
recursive-include src *.cpp
recursive-include extern/pybind11 *
recursive-include third_party *
recursive-include examples *.py
global-exclude *.pyc
global-exclude __pycache__
